* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* header */ 
  .wrapper {
    padding: 0;
    margin: 0;
    position: relative;
  }
  .top {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    align-items: center;
    margin-top: 8px;
    text-transform: uppercase;
  }
  h1,
  h2,
  h3 {
    font-weight: 400;
    margin: 10px 0;
  }
  .logo {
    text-transform: lowercase;
    align-items: center;
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    background-color: transparent;
    font-family: fontawesome;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 37px;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    position: relative;
    outline-width: 0;
  }
  .dotcom {
    -webkit-text-size-adjust: 100%;
    font-family: fontawesome;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 37px;
    letter-spacing: 3px;
    box-sizing: inherit;
    color: green;
  }
  .top a {
    cursor: pointer;
    font-size: 37px;
    text-decoration: none;
  }
  .top p {
    letter-spacing: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7); 
    cursor: pointer;
  }
  .top a:hover {
    color: rgb(6, 245, 6);
  }
  /* navbar section */ 
  .navhome {
    background-color: green;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    z-index: 2;
    position: relative;
    padding: 18px 16px;
  }
  .left ul {
    list-style: none;
    color: white;
    display: flex;
  }
  .left ul li a {
    color: white;
    text-decoration: none;
    width: auto;
    letter-spacing: 4px;
    font-size: 17px;
    padding: 8px 16px;
  } 
  .left ul li a:hover {
    background-color: white;
    color: black;
  }
  .btn-html:hover{
   color: black;
   background-color: rgb(6, 245, 6);
  }
  .navbar {
    font-family: "Segoe UI", Arial, sans-serif !important;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    position: sticky !important;
    top: 0;
    text-transform: uppercase;
    z-index: 1;
    width: 100%;
  } 
  .pad-16 i {
    font-weight: inherit;
  }
  .navhome .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navhome .right i {
    font-weight: 900;
    margin-left: 30px;
  }
  /* container sections */ 
  .container {
    display: flex;
    position: relative;
  }
  .leftnav a {
    display: block;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 3px;
    padding-left: 20px;
  }
  .leftnav a:hover {
    background-color: #d0d0d0;
  }
  .leftnav {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 10px 0px;
    width: 20%;
  }
  .title {
    font-size: 20px;
    padding: 13px 0;
    padding-left: 20px;
  }
/* Main section */ 
  .rightdit {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .rightdit div {
    padding: 15px;
  }
  .rightdit .white {
    background-color: rgb(235, 223, 223);
  }
  .rightdit .gray {
    background-color: #f1f1f1;
  }
  .one,
  .two,
  .three {
    width: 100%;
    height: 80%;
    display: flex;
    padding-top: 20px;
    margin-bottom: 25px;
  }
  .course {
    width: 50%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    color: rgba(0, 0, 0, 0.7);
  }
  .course .course_title {
    font-size: 70px;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.7);
    padding: 20px;
  }
  .lang {
    font-size: 30px;
    padding-bottom: 20px;
  } 
  .btn button {
    color: white;
    border: none;
    padding: 12px 16px;
    background-color: #616161;
    margin-right: 6px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .example {
    width: 50%;
    margin-left: 15px;
    background-color:WHITE ;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 15px 10px;
  }
  .example h4 {
    font-size: 24px;
    padding: 20px 0;
  }
  .example button {
    margin-top: 16px;
    padding: 10px 15px;
    background-color: green;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  .example button:hover {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  }
  .border-green {
    background-color: white;
    border-left: 4px solid green;
    padding-left: 15px;
    padding: 15px;
    letter-spacing: 2px;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  